body {
    background-image: linear-gradient( -10deg, #f10d5e 0%, #ffb43e 25%, #43e03c 50%, #6528ff 100%);
    animation: unicorn-slide 10s ease infinite;
    -webkit-animation: unicorn-slide 10s ease infinite;
    background-size: 200% 200%;
    width: 100%;
    height: 100%;
  }
      @keyframes unicorn-slide {
        0% { background-position: 0% 50% }
        50% { background-position: 100% 50% }
        100% { background-position: 0% 50% }
     }
  
      @-webkit-keyframes unicorn-slide {
        0% { background-position: 0% 50% }
        50% { background-position: 100% 50% }
        100% { background-position: 0% 50% }
        
     }
    
     h1{
        font-size: 50px;
        font-family: fantasy;
        margin-top: 20%;
        padding: 25%;
        padding-top: 0%;
     }

     button{
     position: fixed;
      left:50%;
      top:50%;
     
     }


     ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
     }

     li{
        display: inline;
        float: left;
     }
     li a{
        display:block;
        color:white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
     }

     li a:hover{
        background-color: #111;
     }
     
     .dropbtn{
        background-color: #4caf50;
        color: white;
        padding:16px;
        font-size: 16px;
        border:none;
        cursor:pointer;
     }

     .dropdown{
        position:relative;
        display:inline-block;
     }
     .dropdown-content{
        display:none;
        position:absolute;
        background: color #f9f9f9;
        min-width:160px;
        box-shadow:0px 8px 16px 0px rgba(0,0,0.2);
        z-index: index 1;
     }
     .drop-content a{
        color:black;
        padding:12px 16px;
        text-decoration:none;
        display:block;
     }

    .drop-content a:hover{
        background-color:#f1f1f1;
    }
    /*show the dropdown on hover*/
   .dropdown:hover .dropdown-content{
    display:block;
   }

   .dropdown:hover .dropbtn{
    background-color:#3e8e41
   }
